<div class="container mr-3" >
  <div class="row">
    <div class="col-sm-3 mb-4">
      <div class="card" style="width: 18rem;">
        <img src="static/army/storeimages/tshirt.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title armed ">Aero Armour Army T-Shirt</h5>
          <p class="card-text">We at Aero Armour Store are driven by our passion for adventure to celebrate this passion.</p>
          <a href="{% url "tshirt" %}" class="btn btn-primary">Go To Buy <i class="fa-solid fa-cart-shopping"></i></a>
        </div>
      </div>
    </div>
    <div class="col-sm-3 mb-4" >
      <div class="card" style="width: 18rem;">
        <img src="static/army/storeimages/tshirt2.webp" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title armed ">Aero Armour Army T-Shirt</h5>
          <p class="card-text">We at Aero Armour Store are driven by our passion for adventure to celebrate this passion.</p>
          <a href="{% url "tshirt" %}" class="btn btn-primary">Go To Buy <i class="fa-solid fa-cart-shopping"></i></a>
        </div>
      </div>
    </div>
    <div class="col-sm-3 mb-4">
      <div class="card" style="width: 18rem;">
        <img src="static/army/storeimages/tshirt33.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title armed ">Aero Armour Army T-Shirt</h5>
          <p class="card-text">We at Aero Armour Store are driven by our passion for adventure to celebrate this passion.</p>
          <a href="{% url "tshirt" %}" class="btn btn-primary">Go To Buy <i class="fa-solid fa-cart-shopping"></i></a>
        </div>
      </div>
    </div>
    <div class="col-sm-3 mb-4">
      <div class="card" style="width: 18rem;">
        <img src="static/army/storeimages/tshirt00.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title armed ">Aero Armour Army T-Shirt</h5>
          <p class="card-text">We at Aero Armour Store are driven by our passion for adventure to celebrate this passion.</p>
          <a href="{% url "tshirt" %}" class="btn btn-primary">Go To Buy <i class="fa-solid fa-cart-shopping"></i></a>
        </div>
      </div>
    </div>
    <div class="col-sm-3 mb-4">
      <div class="card" style="width: 18rem;">
        <img src="static/army/storeimages/tshirt4.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title armed">Men's Uri T-Shirt Army</h5>
          <p class="card-text">Occasion – Gym wear, Sports Wear, Beach Wear, Daily Wear.Arc Stringer with vibrant colour</p>
          <a href="{% url "tshirt" %}" class="btn btn-primary">Go To Buy <i class="fa-solid fa-cart-shopping"></i></a>
        </div>
      </div>
    </div>
    <div class="col-sm-3 mb-4">
      <div class="card" style="width: 18rem;">
        <img src="static/army/storeimages/tshirt5.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title armed">Men's Uri T-Shirt Army</h5>
          <p class="card-text">Occasion – Gym wear, Sports Wear, Beach Wear, Daily Wear.Arc Stringer with vibrant colour</p>
          <a href="{% url "tshirt" %}" class="btn btn-primary">Go To Buy <i class="fa-solid fa-cart-shopping"></i></a>
        </div>
      </div>
    </div>
    <div class="col-sm-3 mb-4">
      <div class="card" style="width: 18rem;">
        <img src="static/army/storeimages/tshirt6.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title armed">Men's Uri T-Shirt Army</h5>
          <p class="card-text">Occasion – Gym wear, Sports Wear, Beach Wear, Daily Wear.Arc Stringer with vibrant colour</p>
          <a href="{% url "tshirt" %}" class="btn btn-primary">Go To Buy <i class="fa-solid fa-cart-shopping"></i></a>
        </div>
      </div>
    </div>
    <div class="col-sm-3 mb-4 ">
      <div class="card" style="width: 18rem;">
        <img src="static/army/storeimages/tshirt77.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title armed">Men's Uri T-Shirt Army</h5>
          <p class="card-text">Occasion – Gym wear, Sports Wear, Beach Wear, Daily Wear.Arc Stringer with vibrant colour</p>
          <a href="{% url "tshirt" %}" class="btn btn-primary">Go To Buy <i class="fa-solid fa-cart-shopping"></i></a>
        </div>
      </div>
    </div>
    <div class="col-sm-3 mb-4">
      <div class="card" style="width: 18rem;">
        <img src="static/army/storeimages/pant2.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title armed">Camouflage Army Print pant</h5>
          <p class="card-text">Designed to be comfortable without sacrificing a durable look Fashion Inspired by the Military.</p>
          <a href="{% url "pant" %}" class="btn btn-primary">Go To Buy <i class="fa-solid fa-cart-shopping"></i></a>
        </div>
      </div>
    </div>
    <div class="col-sm-3 mb-4" >
      <div class="card" style="width: 18rem;">
        <img src="static/army/storeimages/pant3.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title armed">Camouflage Army Print pant</h5>
          <p class="card-text">Designed to be comfortable without sacrificing a durable look Fashion Inspired by the Military.</p>
          <a href="{% url "pant" %}" class="btn btn-primary">Go To Buy <i class="fa-solid fa-cart-shopping"></i></a>
        </div>
      </div>
    </div>
    <div class="col-sm-3 mb-4">
      <div class="card" style="width: 18rem;">
        <img src="static/army/storeimages/pant33.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title armed">Camouflage Army Print pant</h5>
          <p class="card-text">Designed to be comfortable without sacrificing a durable look Fashion Inspired by the Military.</p>
          <a href="{% url "pant" %}" class="btn btn-primary">Go To Buy <i class="fa-solid fa-cart-shopping"></i></a>
        </div>
      </div>
    </div>
    <div class="col-sm-3 mb-4">
      <div class="card" style="width: 18rem;">
        <img src="static/army/storeimages/pant7.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title armed">Camouflage Army Print pant</h5>
          <p class="card-text">Designed to be comfortable without sacrificing a durable look Fashion Inspired by the Military.</p>
          <a href="{% url "pant" %}" class="btn btn-primary">Go To Buy <i class="fa-solid fa-cart-shopping"></i></a>
        </div>
      </div>
    </div>
    <div class="col-sm-3 mb-4">
      <div class="card" style="width: 18rem;">
        <img src="static/army/storeimages/shoes1.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title armed">Military & Tactical Combat Boot</h5>
          <p class="card-text">Breathe-Right combat lunar lining helps to keep feet dry and wicks away sweat.</p>
          <a href="{% url "shoes" %}" class="btn btn-primary">Go To Buy <i class="fa-solid fa-cart-shopping"></i></a>
        </div>
      </div>
    </div>
    <div class="col-sm-3 mb-4">
      <div class="card" style="width: 18rem;">
        <img src="static/army/storeimages/shoes2.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title armed">Military & Tactical Combat Boot</h5>
          <p class="card-text">Breathe-Right combat lunar lining helps to keep feet dry and wicks away sweat</p>
          <a href="{% url "shoes" %}" class="btn btn-primary">Go To Buy <i class="fa-solid fa-cart-shopping"></i></a>
        </div>
      </div>
    </div>
    <div class="col-sm-3 mb-4">
      <div class="card" style="width: 18rem;">
        <img src="static/army/storeimages/shoes3.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title armed">Military & Tactical Combat Boot</h5>
          <p class="card-text">Breathe-Right combat lunar lining helps to keep feet dry and wicks away sweat</p>
          <a href="{% url "shoes" %}" class="btn btn-primary">Go To Buy <i class="fa-solid fa-cart-shopping"></i></a>
        </div>
      </div>
    </div>
    <div class="col-sm-3 mb-4 ">
      <div class="card" style="width: 18rem;">
        <img src="static/army/storeimages/shoes4.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title armed">Military & Tactical Combat Boot</h5>
          <p class="card-text">Breathe-Right combat lunar lining helps to keep feet dry and wicks away sweat</p>
          <a href="{% url "shoes" %}" class="btn btn-primary">Go To Buy <i class="fa-solid fa-cart-shopping"></i></a>
        </div>
      </div>
    </div>
    <div class="col-sm-3 mb-4">
      <div class="card" style="width: 18rem;">
        <img src="static/army/storeimages/watch1.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title armed">Military Digital</h5>
          <p class="card-text">Strap Color: Green; Strap Material: Plastic Dial Diameter: 54 mmStrap Color: Green;</p>
          <a href="{% url "watch" %}" class="btn btn-primary">Go To Buy <i class="fa-solid fa-cart-shopping"></i></a>
        </div>
      </div>
    </div>
    <div class="col-sm-3 mb-4">
      <div class="card" style="width: 18rem;">
        <img src="static/army/storeimages/watch2.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title armed">Military Digital</h5>
          <p class="card-text">Strap Color: Green; Strap Material: Plastic Dial Diameter: 54 mmStrap Color: Green;</p>
          <a href="{% url "watch" %}" class="btn btn-primary">Go To Buy <i class="fa-solid fa-cart-shopping"></i></a>
        </div>
      </div>
    </div>
    <div class="col-sm-3 mb-4">
      <div class="card" style="width: 18rem;">
        <img src="static/army/storeimages/watch3.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title armed">Military Digital</h5>
          <p class="card-text">Strap Color: Green; Strap Material: Plastic Dial Diameter: 54 mmStrap Color: Green;</p>
          <a href="{% url "watch" %}" class="btn btn-primary">Go To Buy <i class="fa-solid fa-cart-shopping"></i></a>
        </div>
      </div>
    </div>
    <div class="col-sm-3 mb-4 ">
      <div class="card" style="width: 18rem;">
        <img src="static/army/storeimages/watch4.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title armed">Military Digital</h5>
          <p class="card-text">Strap Color: Green; Strap Material: Plastic Dial Diameter: 54 mmStrap Color: Green;</p>
          <a href="{% url "watch" %}" class="btn btn-primary">Go To Buy <i class="fa-solid fa-cart-shopping"></i></a>
        </div>
      </div>
    </div>
    <div class="col-sm-3 mb-4">
      <div class="card" style="width: 18rem;">
        <img src="static/army/storeimages/bag1.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title armed">TriPole Colonel Pro bag</h5>
          <p class="card-text"> 15 Litre detachable backpack that can hold a laptop upto 16 inches.3 Year Manufacturer Warranty.</p>
          <a href="{% url "bags" %}" class="btn btn-primary">Go To Buy <i class="fa-solid fa-cart-shopping"></i></a>
        </div>
      </div>
    </div>
    <div class="col-sm-3 mb-4">
      <div class="card" style="width: 18rem;">
        <img src="static/army/storeimages/bag2.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title armed">TriPole Colonel Pro bag</h5>
          <p class="card-text"> 15 Litre detachable backpack that can hold a laptop upto 16 inches.3 Year Manufacturer Warranty.</p>
          <a href="{% url "bags" %}" class="btn btn-primary">Go To Buy <i class="fa-solid fa-cart-shopping"></i></a>
        </div>
      </div>
    </div>
    <div class="col-sm-3 mb-4">
      <div class="card" style="width: 18rem;">
        <img src="static/army/storeimages/bag3.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title armed">TriPole Colonel Pro bag</h5>
          <p class="card-text"> 15 Litre detachable backpack that can hold a laptop upto 16 inches.3 Year Manufacturer Warranty.</p>
          <a href="{% url "bags" %}" class="btn btn-primary">Go To Buy <i class="fa-solid fa-cart-shopping"></i></a>
        </div>
      </div>
    </div>
    <div class="col-sm-3 mb-4 ">
      <div class="card" style="width: 18rem;">
        <img src="static/army/storeimages/bag4.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title armed">TriPole Colonel Pro bag</h5>
          <p class="card-text"> 15 Litre detachable backpack that can hold a laptop upto 16 inches.3 Year Manufacturer Warranty.</p>
          <a href="{% url "bags" %}" class="btn btn-primary">Go To Buy <i class="fa-solid fa-cart-shopping"></i></a>
        </div>
      </div>
    </div>
  </div>
</div>
   