<div class="card-group  ">
  <div class="card mb-3 ">
    <img src="static/army/images/T-90_Bhisma_cropped2.jpg" class="card-img-top" alt="bhisma">
    <div class="card-body ">
      <h5 class="card-title">BHISMA T-90</h5>
      <p class="card-text">The T-90 is a third-generation Russian main battle tank developed to replace the T-72.</p>
      <a href="https://en.wikipedia.org/wiki/T-90" class="btn btn-primary">read more</a>
    </div> 
  </div>  
  
  <div class="card mb-3 ">
    <img src="static/army/images/TEJYATANK.jpg" class="card-img-top" alt="insas">
    <div class="card-body ">
      <h5 class="card-title">T-72 AJEYA</h5>
      <p class="card-text">Status: In service. Manufactured in India. To be replaced by Future Ready Combat Vehicle and Future Main Battle Tank..</p>
      <a href="https://en.wikipedia.org/wiki/T-72_operators_and_variants" class="btn btn-primary">read more</a>
    </div>
  </div>
  <div class="card mb-3 ">
    <img src="static/army/images/tatatank.jpg" class="card-img-top" alt="tata tank">
    <div class="card-body ">
      <h5 class="card-title">TATA-KESTRAL</h5>
      <p class="card-text">Status: In service. First batch of Infantry Protected Mobility Vehicle based on DRDO-TATA Kestral inducted.</p>
      <a href="https://en.wikipedia.org/wiki/TATA_Kestrel" class="btn btn-primary">read more</a>
    </div>
  </div>
</div>
<div class="card-group ">
  <div class="card mb-3 ">
    <img src="static/army/images/INSAS-LMG.jpg" class="card-img-top" alt="...">
    <div class="card-body ">
      <h5 class="card-title">INSAS-LMG</h5>
      <p class="card-text">The INSAS, or Indian Small Arms System,[11][12] is a family of infantry arms consisting of an assault rifle and a light machine gun (LMG)</p>
      <a href="https://en.wikipedia.org/wiki/INSAS_rifle" class="btn btn-primary">read more</a>
    </div>
  </div>
  <div class="card mb-3 ">
    <img src="static/army/images/FN_MAG_white_GUN.jpg" class="card-img-top" alt="">
    <div class="card-body ">
      <h5 class="card-title">MAG-GUN</h5>
      <p class="card-text">The FN MAG is a Belgian 7.62 mm general-purpose machine gun, designed in the early 1950s at Fabrique Nationale (FN) by Ernest Vervier</p>
      <a href="https://en.wikipedia.org/wiki/FN_MAG" class="btn btn-primary">read more</a>

    </div>
  </div>
  <div class="card mb-3 ">
    <img src="static/army/images/DRDOJVPCGUN.png" class="card-img-top" alt="...">
    <div class="card-body ">
      <h5 class="card-title">JVPC-GUN</h5>
      <p class="card-text">The Joint Venture Protective Carbine (JVPC),[5] also known as Modern Sub Machine Carbine (MSMC) until 2014</p>
      <a href="https://en.wikipedia.org/wiki/Joint_Venture_Protective_Carbine" class="btn btn-primary">read more</a>
    </div>
  </div>
</div> 
<div class="card-group ">
  <div class="card mb-3 ">
    <img src="static/army/images/Indian_army_CHetak_helicopter.jpg" class="card-img-top" alt="...">
    <div class="card-body ">
      <h5 class="card-title">CHETAK-HELICOPTER</h5>
      <p class="card-text">Under a licensing arrangement between Aérospatiale and Indian aircraft manufacturer Hindustan Aeronautics Limited (HAL), the Alouette III has been built under licence by HAL in India. Known locally under the designation HAL Chetak</p>
      <a href="https://en.wikipedia.org/wiki/A%C3%A9rospatiale_Alouette_III#India" class="btn btn-primary">read more</a>
    </div>
  </div>
  <div class="card mb-3 ">
    <img src="static/army/images/Brahmos_launcher_Republic_day.jpg" class="card-img-top" alt="...">
    <div class="card-body ">
      <h5 class="card-title">BRAHMOS-LAUNCHER</h5>
      <p class="card-text">The BrahMos is a medium-range ramjet supersonic cruise missile that can be Launched from Submarines, Ships, Fighter Aircraft or TEL.[14] It is a joint-venture between the Indian Defence Research and Development Organisation (DRDO) and the Russian Federation's </p>
      <a href="https://en.wikipedia.org/wiki/BrahMos" class="btn btn-primary">read more</a>
    </div>
  </div>
  <div class="card mb-3 ">
    <img src="static/army/images/IA_Dhruv_Berlin-08.jpg" class="card-img-top" alt="...">
    <div class="card-body ">
      <h5 class="card-title">DHRUV</h5>
      <p class="card-text">The HAL Dhruv is a utility helicopter designed and developed by Hindustan Aeronautics Limited in November 1984. The helicopter first flew in 1992; its development was prolonged due to multiple factors including the Indian Army's requirement for design changes, budget restrictions.</p>
      <a href="https://en.wikipedia.org/wiki/HAL_Dhruv" class="btn btn-primary">read more</a>
    </div>
  </div>
</div>

<div class="card-group ">
    <div class="card mb-3 ">
      <img src="static/army/images/Kirpan.jpg" class="card-img-top" alt="...">
      <div class="card-body ">
        <h5 class="card-title">KIRPAN</h5>
        <p class="card-text">The kirpan is a curved, single-edged blade that Khalsa Sikhs are required to wear as part of their religious uniform, as prescribed by the Sikh Code of Conduct.</p>
        <a href="https://en.wikipedia.org/wiki/Kirpan" class="btn btn-primary">read more</a>
      </div>
    </div>
    <div class="card mb-3 ">
      <img src="static/army/images/pestol.png" class="card-img-top" alt="">
      <div class="card-body ">
        <h5 class="card-title">PISTOL-9MM</h5>
        <p class="card-text">The Pistol Auto 9mm 1A, also known as IOF 9mm pistol, is a semi-automatic pistol manufactured by Rifle Factory Ishapore</p>
        <a href="https://en.wikipedia.org/wiki/Pistol_Auto_9mm_1A" class="btn btn-primary">read more</a>

      </div>
    </div>
    <div class="card mb-3 ">
      <img src="static/army/images/Glock_Feldmess.jpg" class="card-img-top" alt="...">
      <div class="card-body ">
        <h5 class="card-title">GLOCK-FELDMESS</h5>
        <p class="card-text">The Glock knife is a military field knife product line designed and produced by Glock Ges.m.b.H., located in Deutsch-Wagram, Austria.
          It can also be used as a bayonet, by engaging a socket in the pommel (covered by a plastic cap) into a bayonet adapter that can be fitted to the Steyr AUG rifle
        </p>
        <a href="https://en.wikipedia.org/wiki/Glock_knife" class="btn btn-primary">read more</a>
    </div>
  </div>
</div>
<div class="card-group ">
    <div class="card mb-3 ">
      <img src="static/army/images/Indian_Army_Aviation_.jpg" class="card-img-top" alt="...">
      <div class="card-body ">
        <h5 class="card-title">DHANUSH</h5>
        <p class="card-text">Dhanush (bow) is a 155 mm towed howitzer manufactured by Advanced Weapons and Equipment India at Gun Carriage Factory Jabalpur, previously a part of Ordnance Factory Board. The gun was approved for service in 2019 and has been inducted into the Indian Army.</p>
        <a href="https://en.wikipedia.org/wiki/Dhanush_(howitzer)" class="btn btn-primary">read more</a>
      </div>
    </div>
    <div class="card mb-3 ">
      <img src="static/army/images/Akash_Prime_(1).jpg" class="card-img-top" alt="">
      <div class="card-body ">
        <h5 class="card-title">AKASH</h5>
        <p class="card-text">Akash (Hunterian: Akash, lit. 'Sky') is a medium-range [6] mobile surface-to-air missile (SAM) system developed by the Defence Research and Development Organisation (DRDO) and produced by Bharat Dynamics Limited (BDL)</p>
        <a href="https://en.wikipedia.org/wiki/Akash_(missile)" class="btn btn-primary">read more</a>

      </div>
    </div>
    <div class="card mb-3 ">
      <img src="static/army/images/Bofors_gun_155mm.jpg" class="card-img-top" alt="...">
      <div class="card-body ">
        <h5 class="card-title">HAUBITS FH77</h5>
        <p class="card-text"> FH77 is a Swedish 155 mm howitzer, developed and manufactured by Bofors.[4] It is also colloquially known as the Bofors gun in India </p>
        <a href="https://en.wikipedia.org/wiki/Haubits_FH77" class="btn btn-primary">read more</a>
    </div>
  </div>
</div>
<div class="card-group ">
    <div class="card mb-3 ">
      <img src="static/army/images/SPYDER.jpg" class="card-img-top" alt="...">
      <div class="card-body ">
        <h5 class="card-title">SPYDER</h5>
        <p class="card-text">The SPYDER is an Israeli short and medium range mobile air defence system developed by Rafael Advanced Defense Systems with assistance from Israel Aerospace Industries (IAI)</p>
        <a href="https://en.wikipedia.org/wiki/SPYDER" class="btn btn-primary">read more</a>
      </div>
    </div>
    <div class="card mb-3 ">
      <img src="static/army/images/M-46_Lutsk.jpg" class="card-img-top" alt="">
      <div class="card-body ">
        <h5 class="card-title">M-46 LUTSK</h5>
        <p class="card-text">The 130 mm towed field gun M-46 (Russian: 130-мм пушка M-46) is a manually loaded, towed 130 mm artillery piece, manufactured in the Soviet Union in the 1950s.</p>
        <a href="https://en.wikipedia.org/wiki/130_mm_towed_field_gun_M1954_(M-46" class="btn btn-primary">read more</a>

      </div>
    </div>
    <div class="card mb-3 ">
      <img src="static/army/images/SNEVA.jpg" class="card-img-top" alt="...">
      <div class="card-body ">
        <h5 class="card-title">S-NEVA-125</h5>
        <p class="card-text">The S-125 Neva/Pechora is a Soviet surface-to-air missile system that was designed by Aleksei Isaev to complement the S-25 and S-75.</p>
        <a href="https://en.wikipedia.org/wiki/S-125_Neva/Pechora" class="btn btn-primary">read more</a>
    </div>
  </div>
</div>
<div class="card-group ">
    <div class="card mb-3 ">
      <img src="static/army/images/Carbine_with_M203_Grenade_Launcher.png" class="card-img-top" alt="...">
      <div class="card-body ">
        <h5 class="card-title">CARBIN</h5>
        <p class="card-text">The M4 carbine (officially Carbine, Caliber 5.56 mm, M4) is a 5.56×45mm NATO, gas-operated,[b] magazine-fed carbine developed in the United States during the 1980s</p>
        <a href="https://en.wikipedia.org/wiki/M4_carbine" class="btn btn-primary">read more</a>
      </div>
    </div>
    <div class="card mb-3 ">
      <img src="static/army/images/PEO_Mossberg_590A1.jpg" class="card-img-top" alt="">
      <div class="card-body ">
        <h5 class="card-title">PEO-MOSSBERG</h5>
        <p class="card-text">Pump action is a type of manual firearm action that is operated by moving a sliding handguard on the gun's forestock</p>
        <a href="https://en.wikipedia.org/wiki/Pump_action" class="btn btn-primary">read more</a>

      </div>
    </div>
    <div class="card mb-3 ">
      <img src="static/army/images/Carl_Gustav_M3_Kokonaisturvallisuus_2015_noBG.png" class="card-img-top" alt="...">
      <div class="card-body ">
        <h5 class="card-title">CARL-GUSTAV</h5>
        <p class="card-text">The Carl Gustaf 8.4 cm recoilless rifle is a Swedish-developed 84 mm (3.3 in) caliber shoulder-fired recoilless rifle, initially developed by the Royal Swedish Army Materiel Administration during the second half of the 1940s</p>
        <a href="https://en.wikipedia.org/wiki/Carl_Gustaf_8.4_cm_recoilless_rifle" class="btn btn-primary">read more</a>
    </div>
  </div>
</div>
<div class="card-group ">
    <div class="card mb-3 ">
      <img src="static/army/images/Agni-III_Republic_day.jpg" class="card-img-top" alt="...">
      <div class="card-body ">
        <h5 class="card-title">AGNI-III</h5>
        <p class="card-text">The Agni missile is a family of medium to intercontinental range ballistic missiles developed by India, named after one of the five elements of nature. Agni missiles are long-range, nuclear weapons capable, surface-to-surface ballistic missiles</p>
        <a href="https://en.wikipedia.org/wiki/Agni_(missile)" class="btn btn-primary">read more</a>
      </div>
    </div>
    <div class="card mb-3 ">
      <img src="static/army/images/Sherpn1200.jpg" class="card-img-top" alt="">
      <div class="card-body ">
        <h5 class="card-title">ATHOR</h5>
        <p class="card-text">An all-terrain vehicle (ATV), also known as a light utility vehicle (LUV),[1] a quad bike or quad (if having four wheels), as defined by the American National Standards Institute (ANSI)</p>
        <a href="https://en.wikipedia.org/wiki/All-terrain_vehicle" class="btn btn-primary">read more</a>

      </div>
    </div>
    <div class="card mb-3 ">
      <img src="static/army/images/SWATI.jpg" class="card-img-top" alt="...">
      <div class="card-body ">
        <h5 class="card-title">SWATI</h5>
        <p class="card-text">The Swathi (Very Beneficent)[4] weapon locating radar is a mobile artillery-locating, phased array radar developed by India.</p>
        <a href="https://en.wikipedia.org/wiki/Swathi_Weapon_Locating_Radar" class="btn btn-primary">read more</a>
    </div>
  </div>
</div>
<div class="card-group ">
    <div class="card mb-3 ">
      <img src="static/army/images/COMBAT1.jpg" class="card-img-top" alt="...">
      <div class="card-body ">
        <h5 class="card-title">COMBAT1</h5>
        <p class="card-text">A combat uniform, also called field uniform, battledress or military fatigues, is a casual type of uniform used by military, police, 
          fire and other public uniformed services for everyday fieldwork and combat duty purposes, as opposed to dress uniforms worn in functions and parades</p>
        <a href="https://en.wikipedia.org/wiki/Combat_uniform" class="btn btn-primary">read more</a>
      </div>
    </div>
    <div class="card mb-3 ">
      <img src="static/army/images/RAFEL.webp" class="card-img-top" alt="">
      <div class="card-body ">
        <h5 class="card-title">RAFEL</h5>
        <p class="card-text">The Dassault Rafale is a French twin-engine, canard delta wing, multirole fighter aircraft designed and built by Dassault Aviation</p>
        <a href="https://en.wikipedia.org/wiki/Dassault_Rafale" class="btn btn-primary">read more</a>

      </div>
    </div>
    <div class="card mb-3 ">
      <img src="static/army/images/COMBAT2.jpg" class="card-img-top" alt="...">
      <div class="card-body ">
        <h5 class="card-title">COMBAT2</h5>
        <p class="card-text">A combat helmet or battle helmet is a type of helmet. It is a piece of personal armor designed specifically to protect the head during combat. </p>
        <a href="https://en.wikipedia.org/wiki/Combat_helmet" class="btn btn-primary">read more</a>
    </div>
  </div>
</div>
