<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
{% extends "army.html" %}


{% block content %}
<div class="address">
    <h2><b style="color: rgb(16, 16, 15);">ADDRESS</b></h2>
    <h3><b><pre>
    Online Army Store
    <i class="fa-solid fa-location-dot" style="color: red;"></i> Post-Vikhale ,Tal-khatav ,Dist-satara
    Maharashtra
    Pin code - 415312
    Contct <i class="fa-solid fa-phone" style="color: red;"></i> - <a href="tel:8379883201">8379883201</a>
    Mail <i class="fa-solid fa-envelope" style="color: red;"></i> - <a href="mailto:pranavdeshmukh661@gmail.com"> pranavdeshmukh661@gmail.com</a>
    </pre></b></h3>

</div>


{% endblock content %}

</html>