{% extends "army.html" %}

{% block content %}

<div class="container-fluid profileaddress">
    <div class="row">
        <div class="container ad1">
            <div class="container">
                <div class="row">
                        <div class="">
                {% comment %} <section class="h-100" style="background-color: #eee;"> {% endcomment %}
                    <div class="container profile-form2">
                        <div class="reg ">
                            <h3 class="text-primary" style="color: rgb(255, 255, 255);text-shadow: 1px 1px 2px black; text-align: center;">Address</h3>
                        </div>
                        <form action="" method="POST" novalidate>
                            {% csrf_token %}
                            {% for f in mf %}
                            <div class="form-group mr-4 ml-4 ">
                                {{f.label_tag}} {{f}} {{f.errors}}
                            </div>
                            {% endfor %}
                            <div class="text-center">
                                <input type="submit" value="Save" class="btn btn-success register-button">
                            </div>
                        </form>
                    </div>
                </div>
                <div class="container ad2">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-10">
                                {% for add in address %}
                                <div class="card flex-md-row mb-4 box-shadow h-md-250 mt-4 ml-4">
                                    <div class="card-body d-flex flex-column align-items-start" style="background-color: rgb(197, 239, 239);">
                                        <h4 class="mb-0" style="color: rgb(0, 0, 0);font-weight: bold; text-shadow: 2px 2px 4px rgb(255, 0, 0);">
                                        NAME: {{add.name|upper}}
                                    </h4>
                                    <p class="card-text mb-auto" style="color: black;font-weight: bold;">Address:{{add.address}} </p>
                                    <p class="card-text mb-auto" style="color: black;font-weight: bold;">City:{{add.city}} </p>
                                    <p class="card-text mb-auto" style="color: black;font-weight: bold;">State: {{add.state}} </p>
                                    <p class="card-text mb-auto" style="color: black;font-weight: bold;">Pincode:{{add.pincode}} </p>
                                    <form action="{% url "deleteaddress" add.id %}" method="POST">
                                        {% csrf_token %}
                                        <div class="col-md-1 col-lg-1 col-xl-1 text-end">
                                        <input type="submit" class="btn btn-danger btn-sm mt-2" value="Delete Address" style="color: black;font-weight: bold;">
                                        </div>
                                    </form>   
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>        
        </div>
    </div>
  </div>
</div>

{% endblock content %}