<div class="container mr-3">
  <div class="row">
    <div class="col-sm-3 mb-4">
      <div class="card" style="width: 18rem;">
        <img src="static/army/storeimages/tshirt.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="" class="btn btn-primary">Add To Cart <i class="fa-solid fa-cart-shopping"></i></a>
        </div>
      </div>
    </div>
    <div class="col-sm-3 mb-4" >
      <div class="card" style="width: 18rem;">
        <img src="static/army/storeimages/tshirt2.webp" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Add To Cart <i class="fa-solid fa-cart-shopping"></i></a>
        </div>
      </div>
    </div>
    <div class="col-sm-3 mb-4">
      <div class="card" style="width: 18rem;">
        <img src="static/army/storeimages/tshirt33.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Add To Cart <i class="fa-solid fa-cart-shopping"></i></a>
        </div>
      </div>
    </div>
    <div class="col-sm-3 mb-4">
      <div class="card" style="width: 18rem;">
        <img src="static/army/storeimages/tshirt00.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Add To Cart <i class="fa-solid fa-cart-shopping"></i></a>
        </div>
      </div>
    </div>
    <div class="col-sm-3 mb-4">
      <div class="card" style="width: 18rem;">
        <img src="static/army/storeimages/tshirt4.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Add To Cart <i class="fa-solid fa-cart-shopping"></i></a>
        </div>
      </div>
    </div>
    <div class="col-sm-3 mb-4">
      <div class="card" style="width: 18rem;">
        <img src="static/army/storeimages/tshirt5.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Add To Cart <i class="fa-solid fa-cart-shopping"></i></a>
        </div>
      </div>
    </div>
    <div class="col-sm-3 mb-4">
      <div class="card" style="width: 18rem;">
        <img src="static/army/storeimages/tshirt6.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Add To Cart <i class="fa-solid fa-cart-shopping"></i></a>
        </div>
      </div>
    </div>
    <div class="col-sm-3 mb-4 ">
      <div class="card" style="width: 18rem;">
        <img src="static/army/storeimages/tshirt77.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Add To Cart <i class="fa-solid fa-cart-shopping"></i></a>
        </div>
      </div>
    </div>
    <div class="col-sm-3 mb-4">
      <div class="card" style="width: 18rem;">
        <img src="static/army/storeimages/pant2.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Add To Cart <i class="fa-solid fa-cart-shopping"></i></a>
        </div>
      </div>
    </div>
    <div class="col-sm-3 mb-4" >
      <div class="card" style="width: 18rem;">
        <img src="static/army/storeimages/pant3.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Add To Cart <i class="fa-solid fa-cart-shopping"></i></a>
        </div>
      </div>
    </div>
    <div class="col-sm-3 mb-4">
      <div class="card" style="width: 18rem;">
        <img src="static/army/storeimages/pant33.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Add To Cart <i class="fa-solid fa-cart-shopping"></i></a>
        </div>
      </div>
    </div>
    <div class="col-sm-3 mb-4">
      <div class="card" style="width: 18rem;">
        <img src="static/army/storeimages/pant7.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Add To Cart <i class="fa-solid fa-cart-shopping"></i></a>
        </div>
      </div>
    </div>
    <div class="col-sm-3 mb-4">
      <div class="card" style="width: 18rem;">
        <img src="static/army/storeimages/shoes1.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Add To Cart <i class="fa-solid fa-cart-shopping"></i></a>
        </div>
      </div>
    </div>
    <div class="col-sm-3 mb-4">
      <div class="card" style="width: 18rem;">
        <img src="static/army/storeimages/shoes2.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Add To Cart <i class="fa-solid fa-cart-shopping"></i></a>
        </div>
      </div>
    </div>
    <div class="col-sm-3 mb-4">
      <div class="card" style="width: 18rem;">
        <img src="static/army/storeimages/shoes3.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Add To Cart <i class="fa-solid fa-cart-shopping"></i></a>
        </div>
      </div>
    </div>
    <div class="col-sm-3 mb-4 ">
      <div class="card" style="width: 18rem;">
        <img src="static/army/storeimages/shoes4.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Add To Cart <i class="fa-solid fa-cart-shopping"></i></a>
        </div>
      </div>
    </div>
    <div class="col-sm-3 mb-4">
      <div class="card" style="width: 18rem;">
        <img src="static/army/storeimages/watch1.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Add To Cart <i class="fa-solid fa-cart-shopping"></i></a>
        </div>
      </div>
    </div>
    <div class="col-sm-3 mb-4">
      <div class="card" style="width: 18rem;">
        <img src="static/army/storeimages/watch2.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Add To Cart <i class="fa-solid fa-cart-shopping"></i></a>
        </div>
      </div>
    </div>
    <div class="col-sm-3 mb-4">
      <div class="card" style="width: 18rem;">
        <img src="static/army/storeimages/watch3.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Add To Cart <i class="fa-solid fa-cart-shopping"></i></a>
        </div>
      </div>
    </div>
    <div class="col-sm-3 mb-4 ">
      <div class="card" style="width: 18rem;">
        <img src="static/army/storeimages/watch4.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Add To Cart <i class="fa-solid fa-cart-shopping"></i></a>
        </div>
      </div>
    </div>
    <div class="col-sm-3 mb-4">
      <div class="card" style="width: 18rem;">
        <img src="static/army/storeimages/bag1.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Add To Cart <i class="fa-solid fa-cart-shopping"></i></a>
        </div>
      </div>
    </div>
    <div class="col-sm-3 mb-4">
      <div class="card" style="width: 18rem;">
        <img src="static/army/storeimages/bag2.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Add To Cart <i class="fa-solid fa-cart-shopping"></i></a>
        </div>
      </div>
    </div>
    <div class="col-sm-3 mb-4">
      <div class="card" style="width: 18rem;">
        <img src="static/army/storeimages/bag3.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Add To Cart <i class="fa-solid fa-cart-shopping"></i></a>
        </div>
      </div>
    </div>
    <div class="col-sm-3 mb-4 ">
      <div class="card" style="width: 18rem;">
        <img src="static/army/storeimages/bag4.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Add To Cart <i class="fa-solid fa-cart-shopping"></i></a>
        </div>
      </div>
    </div>
  </div>
</div>
   