<div class="container mr-3">
    <div class="row">
      <div class="col-sm-3 mb-4">
        <div class="card" style="width: 18rem;">
          <img src="static/army/storeimages/tshirt.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Add To Cart</a>
          </div>
        </div>
      </div>
      <div class="col-sm-3 mb-4" >
        <div class="card" style="width: 18rem;">
          <img src="static/army/storeimages/tshirt2.webp" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Add To Cart</a>
          </div>
        </div>
      </div>
      <div class="col-sm-3 mb-4">
        <div class="card" style="width: 18rem;">
          <img src="static/army/storeimages/tshirt33.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Add To Cart</a>
          </div>
        </div>
      </div>
      <div class="col-sm-3 mb-4">
        <div class="card" style="width: 18rem;">
          <img src="static/army/storeimages/tshirt00.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Add To Cart</a>
          </div>
        </div>
      </div>
      <div class="col-sm-3 mb-4">
        <div class="card" style="width: 18rem;">
          <img src="static/army/storeimages/tshirt4.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Add To Cart</a>
          </div>
        </div>
      </div>
      <div class="col-sm-3 mb-4">
        <div class="card" style="width: 18rem;">
          <img src="static/army/storeimages/tshirt5.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Add To Cart</a>
          </div>
        </div>
      </div>
      <div class="col-sm-3 mb-4">
        <div class="card" style="width: 18rem;">
          <img src="static/army/storeimages/tshirt6.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Add To Cart</a>
          </div>
        </div>
      </div>
      <div class="col-sm-3 mb-4 ">
        <div class="card" style="width: 18rem;">
          <img src="static/army/storeimages/tshirt77.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Add To Cart</a>
          </div>
        </div>
      </div>
    </div>
</div>