<nav class="navbar navbar-expand-lg bg-body-tertiary navbar-light">
    <div class="container-fluid">
      <b><a class="navbar-brand" href=""><i class="fa-solid fa-store"></i></i></a></b>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="site-logo">
        <a href="/" class="wd-logo wd-main-logo" rel="home">
          <img src="static/army/storeimages/india.png" alt="" height="30px">
        </div>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <b><a class="nav-link active" aria-current="page" href=""> ARMY STORE</a></b>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url "aei" %}" style="color: rgb(15, 1, 1);"><i class="fa-solid fa-person-rifle" style="color: black;"></i> <b>ARMY EQUIPMENT INFORMATION</b></a>
          </li>
      
          
        </ul>
        <form class="d-flex" role="search">
          <input class="form-control me-2" type="search" placeholder="Search" style="text-decoration: solid; width: 250px;" aria-label="Search">
          <button class="btn btn-outline-success" type="submit"><b>Search</b></button>
        </form>
      </div>
    </div>
</nav>

    
  
  
  