<div>
    <footer class="text-center text-white" style="background-color: #caced1;">
      <!-- Grid container -->
      <div class="container p-4">
        <!-- Section: Images -->
        <section class="">
          <div class="row">
            <div class="col-lg-2 col-md-12 mb-4 mb-md-0">
              <div
                class="bg-image hover-overlay ripple shadow-1-strong rounded"
                data-ripple-color="light"
              ><a href="{% url "tshirt" %}">
                <img
                  src="static/army/cardimage/army tshirt.webp"
                  class="w-100" height="300px"
                /></a>
                
                  <div
                    class="mask"
                    style="background-color: rgba(251, 251, 251, 0.2);"
                  ></div>
              
              </div>
            </div>
            <div class="col-lg-2 col-md-12 mb-4 mb-md-0">
              <div
                class="bg-image hover-overlay ripple shadow-1-strong rounded"
                data-ripple-color="light"
              ><a href="{% url "pant" %}">
                <img
                  src="static/army/cardimage/army pant.webp"
                  class="w-100" height="300px"
                /></a>
                
                  <div
                    class="mask"
                    style="background-color: rgba(251, 251, 251, 0.2);"
                  ></div>
               
              </div>
            </div>
            <div class="col-lg-2 col-md-12 mb-4 mb-md-0">
              <div
                class="bg-image hover-overlay ripple shadow-1-strong rounded"
                data-ripple-color="light"
              ><a href="{% url "shoes" %}">
                <img
                  src="static/army/cardimage/army shoes.webp"
                  class="w-100" height="300px"
                /></a>
                
                  <div
                    class="mask"
                    style="background-color: rgba(251, 251, 251, 0.2);"
                  ></div>
              
              </div>
            </div>
            <div class="col-lg-2 col-md-12 mb-4 mb-md-0">
              <div
                class="bg-image hover-overlay ripple shadow-1-strong rounded"
                data-ripple-color="light"
              ><a href="{% url "watch" %}">
                <img
                  src="static/army/cardimage/army watch.webp"
                  class="w-100" height="300px"
                /></a>
                
                  <div
                    class="mask"
                    style="background-color: rgba(251, 251, 251, 0.2);"
                  ></div>
                
              </div>
            </div>
            <div class="col-lg-2 col-md-12 mb-4 mb-md-0">
              <div
                class="bg-image hover-overlay ripple shadow-1-strong rounded"
                data-ripple-color="light"
              ><a href="{% url "jacket" %}">
                <img
                  src="static/army/cardimage/army upper.webp"
                  class="w-100" height="300px" 
                /></a>
                
                  <div
                    class="mask"
                    style="background-color: rgba(251, 251, 251, 0.2);"
                  ></div>
               
              </div>
            </div>
            <div class="col-lg-2 col-md-12 mb-4 mb-md-0">
              <div
                class="bg-image hover-overlay ripple shadow-1-strong rounded"
                data-ripple-color="light"
              ><a href="{% url "bags" %}">
                <img
                  src="static/army/cardimage/army bag.webp"
                  class="w-100" height="300px"
                /></a>
                
                  <div
                    class="mask"
                    style="background-color: rgba(251, 251, 251, 0.2);"
                  ></div>
               
              </div>
            </div>
          </div>
        </section>
        <!-- Section: Images -->
      </div>
      <!-- Grid container -->
  
    </footer>
  </div>